// Color Variables
$primary-color: #da7b93;
$text-color: #351b21;
$text-color-dark: #2e151b;
$text-color-light: #959595;
$body-color: #fff;
$border-color: #da7b93;
$black: #2e151b;
$white: #fff;
$gray: #c7cdd1;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$icon-font: 'themify';

$border-radius: 0.5rem;